<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
{{/*<h1>website:</h1>{{.Website}}<br/>
<h1>Gmail:</h1>{{.Email}}*/}}
<h1>hello world</h1>
{{.}}

<form action="/index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="选择文件"/>
    <input id="submit_form" type="submit" class="btn btn-success save" value="保存"/>
</form>

<form id="user" action="/json">
    名字<input name="username" value ="{{.Name}}" type="text"/>
    年龄<input name="age" value ="{{.Age}}" type="text"/>
    邮箱<input name="Email" type="text" />
    <input type="submit" value="提交" />
</form>


</body>
</html>